body {
    background-color: skyblue;
    /*background-image: url(wetterstation.jpg); ! nein ! */
    /*overflow: auto; ? ig ? */
}

#Titel {
    position: relative;
    margin: 25px;
    color: black;
    text-align: center;
}

#Inhalt {
    position: relative;
    margin: 25px;
    left: 20%;
}


.innen_box_text {
    color: black;
    text-align: center;
    vertical-align: middle;
}

#auswahl {
    color: black;
    font-size: larger;
    font-weight: bolder;
    position: relative;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#Info_box {
    position: relative;
    text-align: center;
    top: auto;
    bottom: 5px;
    left: 0px;
    right: 0px;
}













#Niederschlag {
    background-image: url(Niederschlag.jpg);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}

#Temperatur {
    background-image: url(temperatur.png);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}

#Windstärke {
    background-image: url(windstärle.jpg);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}

#Windrichtung {
    background-image: url(Windrichtung.png);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}

#Luftfeuchtigkeit {
    background-image: url(Luftfeuchtigkeit\ 1.jpg);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}

#Luftdruck {
    background-image: url(Luftdruck.jpg);
    border: solid black;
    margin: 25px;
    position: relative;
    height: 300px;
    width: 300px;
}
