@import url('https://fonts.cdnfonts.com/css/poppins'); 

/* Größe der Schrift !somit ändert das auch den Abstant der Section!!! */ 
h1 {
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
p {
    font-size: 2.5rem;
}


body{
    background: #202731;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}

section{
    /* grid muster erstellen und alle sectionen mittig machen */
    display: grid;
    place-items: center;
    /*für mehrerer items in der selben section*/ 
    align-content: center;

    /*abstande inerhalb der section */
    min-height: 400px;
    padding-top: 100px;

    /*notwendig für die kurven*/ 
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}




/*ist für die Übergange der sectionen notwendig (wir vom Javascript verändert)*/
.hidden{
    /* standart klasse (benutzer ist noch nicht bei diesem element)*/
    opacity: 0; /*unsichtbar machen*/ 

    transition: all 2s; /* einfligen lassen der elemente*/ 

    /*einfligen schöner machen */ 
    filter: blur(5px);
    transform: translateX(-100%)
}

.show{
    /*sicht klasse  (benutzer ist auf diesem element) */
    opacity: 1; /*sichtbar machen */ 

    /*einfligen schöner machen */ 
    filter: blur(0);
    transform: translateX(0);
}



/* festlegeung der position der Augen */ 
#eyes, #eyes img {
    position: absolute;
    z-index: 100;
}











/* Blaue und PInk curve */

.curve_blau {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.curve_blau::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}
.curve_blau::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}


.curve_pink {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.curve_pink::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}
.curve_pink::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #ff0066;
    transform: translate(-4%, 40%);
    z-index: -1;
}

/* Schwartze und Rote Bubble in CSS */

.bubble_schwartz {
    position: relative;
    height: 400px;
}
.bubble_schwartz::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #0f0f10;
    height: 85%;
}

.bubble_rot {
    position: relative;
    height: 400px;
}
.bubble_rot::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #dd3f31;
    height: 85%;
}




/*faben für den Hintergrund*/ 
.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}
.dark {
    background: #0f0f10;
}
.white{
    background-color: white;
    color: #0f0f10; /*schrift farbe auf Schwartz ändern da sonst Weiß auf Weiß*/ 
}



/*das ist für die Diagramme damit die einen gemeinsamen übergang haben*/ 

.bilder{ /*geht auf alle bilder*/ 
    display: flex;
}

.bild:nth-child(2){ /* geht nur auf ein bild (das 2te)*/ 
    transition-delay: 400ms;
}

.bild:nth-child(3){ /* geht nur auf ein bild (das 3te)*/ 
    transition-delay: 800ms;
}

.bild:nth-child(4){ /* geht nur auf ein bild (das 4te)*/ 
    transition-delay: 1200ms;
}
